.bg-container {
  background-color: #1e293b;
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Bree Serif';
  font-size: 32px;
  color: #f0bb03;
  font-weight: 600;
  text-align: center;
}
.greeting {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.button {
  background-color: #ffffff;
  height: 30px;
  width: 80px;
  color: #1e293b;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
}
